<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuling.connexus"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jiuling.connexus.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.jiuling.connexus.ViewAllStreamsActivity"
            android:label="@string/title_activity_view_all_streams" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiuling.connexus.ViewSingleStreamActivity"
            android:label="@string/title_activity_view_single_stream" >
        </activity>
        <activity
            android:name="com.jiuling.connexus.ViewNearbyImageActivity"
            android:label="@string/title_activity_view_nearby_image" >
        </activity>
        <activity
            android:name="com.jiuling.connexus.ViewSubscribedStreamsActivity"
            android:label="@string/title_activity_view_subscribed_streams" >
        </activity>
        <activity
            android:name="com.jiuling.connexus.ViewSearchResultActivity"
            android:label="@string/title_activity_view_search_result" >
        </activity>
        <activity
            android:name="com.jiuling.connexus.UploadImageActivity"
            android:label="@string/title_activity_upload_image" >
            
        </activity>
        <activity
            android:name="com.jiuling.connexus.UseCameraActivity"
            android:label="@string/title_activity_use_camera" >
        </activity>
    </application>

</manifest>
